@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron&display=swap");

.loginMainSection {
  position: relative;
  padding: 1rem 2rem;

  background-color: rgba(0, 0, 0, 0.603);
  backdrop-filter: blur(var(--glass-bcg-blur));
  box-shadow: var(--glass-box-shadow);

  color: var(--text-color);
  border-radius: 5px;
}

.loginMainContainer {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
.loginMainContainer > input {
  font-size: 20px;
}

.loginMainContainer > button {
  margin: 0 50px;
}

.loginBackgroundText {
  position: absolute;
  z-index: -1;
  bottom: -45%;
  left: -140%;

  color: rgb(156, 11, 185);
}

.loginBackgroundText h1 {
  font-size: 8rem;
  font-family: "Audiowide", cursive;
  opacity: 0.15;
}
