.shoppingListMainSection {
}

.shoppingListMainContainer {
  width: 100vw;
  max-height: 65vh;
  min-height: 20vh;
  padding: 1rem 2rem;

  display: grid;
  grid-template-columns: auto auto auto auto auto;
  overflow-y: auto;

  color: var(--text-color);
  background-color: var(--glass-bcg-color);
  backdrop-filter: blur(var(--glass-bcg-blur));
  box-shadow: var(--glass-box-shadow);
}
@media only screen and (max-width: 480px) {
  .shoppingListMainContainer {
    grid-template-columns: auto;
    padding-right: 2rem;
    justify-content: center;
  }
}
@media only screen and (min-width: 480px) and (max-width: 800px) {
  .shoppingListMainContainer {
    grid-template-columns: auto auto;
    padding-right: 2rem;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .shoppingListMainContainer {
    grid-template-columns: auto auto auto;
    padding-right: 2rem;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1400px) {
  .shoppingListMainContainer {
    grid-template-columns: auto auto auto auto;
  }
}

.shoppingListMainTitle {
  background: var(--invisible-color);
  backdrop-filter: blur(var(--glass-bcg-blur));
  font-size: var(--text-title);
  font-weight: lighter;
  color: var(--text-color);
  border-radius: 3px;
  max-width: 400px;
  padding: 1rem;
}

.shopingListSubTitle {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 1068px) {
  .shopingListMainContainer {
    justify-content: start;
  }
}
